SECRET_KEY=your_secret_key

DEBUG=

DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

EMAIL_HOST_USER=email_for_superuser
PASSWORD_FOR_SUPER_USER=PASSWORD_FOR_SUPER_USER

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

JWT_ACCESS_TOKEN_LIFETIME=
JWT_REFRESH_TOKEN_LIFETIME=

CORS_ALLOWED_ORIGINS=

STRIPE_PUBLISHABLE_KEY=pk
STRIPE_SECRET_KEY=sk

# Celery Redis settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_BOT_TOKEN=
